.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.navigation {
  display: none;
}
.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation__list a {
  text-decoration: none;
  color: var(--just-white);
}
.search-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-content input {
  border: none;
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: block;
  }
  .navigation__list {
    display: flex;
    gap: 2rem;
  }
}
